* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: #f4f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.login-form {
    position: relative;
    width: 900px;
    height: 600px;
    background: white;
}

/* Login card */
.login-card {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 350px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    z-index: 2;
}

.login-card h1 {
    margin-bottom: 30px;
    color: #333;
}

/* Input fields */
.input-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.input-box i {
    color: #2f6fed;
    margin-right: 10px;
}

.input-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}

/* Remember & forgot */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 30px;
}

.options a {
    text-decoration: none;
    color: #2f6fed;
}

/* Login button */
.login-btn {
    width: 100%;
    padding: 12px;
    background: #2f6fed;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

.login-btn i {
    margin-right: 6px;
}

/* Welcome section */
.welcome-card {
    position: absolute ;
    top: 50px;
    right: 90px;
    width: 420px;
    height: 450px;
    background: linear-gradient(135deg, #0a3dbf, #1e6cff);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    
}

/* Position the SVG image */
.welcome-card .shape-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.welcome-card h3,
.welcome-card p,
.welcome-card button {
    position: relative;
    z-index: 1;
    color: white;
}


.welcome-card h3 {
    font-size: 32px;
    margin-bottom: 15px;
}

.welcome-card p {
    font-size: 14px;
    margin-bottom: 30px;
}

/* Signup button */
.btn {
    position: relative;
    margin-top: 15px;
    padding: 12px 30px;
    background: transparent;
    color: white;
    text-decoration: none;   
    font-weight: bold;
    z-index: 5;
    border: 2px solid white;
    border-radius: 6px;
}

.user-image {
    display: flex;
    align-items: center;
    gap: 12px;  
}

#icon {
   margin-bottom: 15px;
   width: 60px;
   height: 60px;
   border-radius: 50px;
}

hr {
    background: #fff;
    margin: 20px 0;
    height: 2px;
    width: 100%;
    border: none;
}

#dashboard{
    display: none;
    margin: 0;
    height: 30vh;
    width: 90%;
    padding: 30px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    word-spacing: 20px;
    background: linear-gradient(145deg, #0a3dbf, #1e6cff);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* Responsivieness*/
@media (max-width: 768px) {

  .login-form {
    width: 100%;
    height: auto;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
  }

  .login-card,
  .welcome-card {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }

  .login-card {
    width: 100%;
    max-width: 380px;
    z-index: 1;
  }

  .welcome-card {
    width: 100% ;
    max-width: 420px;
    height: 400px;
    z-index: 1;
  }


/*dashboard{
    display: none;
    margin: 0;
    height: 10vh;
    width: 10%;
    padding: 30px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 15px;
}

.user-image {
    display: flex;
    align-items: center;
    gap: 10px;  
}

#icon {
   margin-bottom: 15px;
   width: 15px;
   height: 15px;
   border-radius: 50px;
}

hr {
    background: #fff;
    margin: 20px 0;
    height: 2px;
    width: 100%;
    border: none;
}*/


}