* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(#0a3dbf, #7b3cff, #3ccfcf, #0a3dbf);
}

.Register-card {
  background: white;
  width: 700px;
  padding: 50px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
}

.Register-card h1 {
  color: #0a3dbf;
  margin-bottom: 30px;
}

.Register-card input {
  width: 100%;
  border: none;
  padding: 15px 5px;
  border-bottom: 2px solid #0a3dbf;
  margin: 15px 0px;
  outline: none;
  font-size: 20px;
}

.terms {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 20px 0px;
}

.terms input {
  width: auto;
  margin-right: 5px;
}

.Register-card button {
 width: 100%;
 padding: 12px;
 border: none;
 border-radius: 8px;
 background: linear-gradient(135deg, #0a3dbf, #7b3cff);
 color: white;
 font-size: 20px;
 cursor: pointer;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #0a3dbf;
  text-decoration: none;
  font-weight: bold;
}

/*Responsiveness*/
@media (max-width: 768px) {
  .page {
  max-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.Register-card {
  width: 90%;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}
.Register-card h1 {
  margin-bottom: 8px;
  font-size: 30px;
}

.Register-card input {
  width: 90%;
  border: none;
  padding: 13px 3px;
  border-bottom: 2px solid #0a3dbf;
  margin: 15px 0px;
  outline: none;
  font-size: 15px;
}
.terms {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 15px 0px;
}

.Register-card button {
 width: 90%;
 padding: 12px;
 font-size: 15px;
}

.login-link {
  font-size: 12px;
}
  
}

